* {
	 box-sizing: border-box;
	 text-align: center;
}
body {
	font-size: 24px;
	margin: 2% 15% 5% 15%;
	background-color: #666;
}
.top {
	 padding: 20px;
	 margin-bottom: 20px;
	 color: #333;
	 background: #eee;
}
#section {
	 display: inline-block;
	float: left;
	width: 49%;
	background-color: #eee;
	padding-bottom: 2%;
	margin-bottom: 2%;
	color: #333;
}
#article {
	width: 90%;
	background-color: #666;	
	color: #eee;	
	padding: 5%;
	margin: auto;
}
#headings {
	color: #333;
	background: #eee;
	width: 100%;
	margin: auto; 
	margin-top: 5%;
	padding: 3%;	
}
#paragraph {
	color: #333;
	background: #eee;
	width: 100%;
	margin: auto; 
	margin-top: 5%;
	padding: 3%;
}
#aside {
	display: inline-block;
	float: right;
	width: 49%;
	color: #333;
	background-color: #eee;
	padding-bottom: 24%;
}
footer {
	clear: both;
	padding: 20px;
	color: #333;
	background: #eee;
}
